<%= form_with(model: material_type) do |form| %>
  <% if material_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(material_type.errors.count, "error") %> prohibited this material_type from being saved:</h2>

      <ul>
        <% material_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :unit, style: "display: block" %>
    <%= form.text_field :unit %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
