<div id="<%= dom_id batch %>">
  <p>
    <strong>Material:</strong>
    <%= batch.material_id %>
  </p>

  <p>
    <strong>Batchid:</strong>
    <%= batch.batchId %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= batch.supplier_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= batch.quantity %>
  </p>

</div>
