<%= form_with(model: batch) do |form| %>
  <% if batch.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
        <% batch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden :material_id, value: @material.id %>

  <div>
    <%= form.label :batchId, "Šarža: ", style: "display: block" %>
    <%= form.text_field :batchId, value: @next_batchId %>
  </div>

  <div>
  <%= form.label :document, "Certifikát: ", style: "display: block" %>
  <%= form.text_field :document %>
</div>

<div>
  <%= form.label :heat, "Tavba/Ser.číslo: ", style: "display: block" %>
  <%= form.text_field :heat %>
</div>

  <div>
    <%= form.label :supplier_id, "Dodávateľ: ", style: "display: block" %>
    <%= form.select :supplier_id, Supplier.order(:name, :asc).all.map { |t| [t.name, t.id]}%>
  </div>

  <div>
    <%= form.label :quantity, "Množstvo: ", style: "display: block" %>
    <%= form.text_field :quantity %><%= @material.category.unit %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
