<div id="<%= dom_id material %>">
  <p>
    <strong>Name:</strong>
    <%= material.name %>
  </p>

  <p>
    <strong>Sapid:</strong>
    <%= material.sapId %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= material.category_id %>
  </p>

  <p>
    <strong>Dimension:</strong>
    <%= material.dimension %>
  </p>

</div>
