<div id="<%= dom_id material %>">
  <p>
    <strong>Name:</strong>
    <%= material.name %>
  </p>

  <p>
    <strong>Dimension:</strong>
    <%= material.dimension %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= material.material %>
  </p>

  <p>
    <strong>Material type:</strong>
    <%= material.material_type_id %>
  </p>

</div>
